.button {
   width:80px;
   background-color: #EFE4B0;
   border: none;
   color:black;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   margin: 4px;
   cursor: pointer;
   border-radius:5px;
}
.button:hover {
    background-color: #7C5D44;
    color:white;
    font-weight:bold;
}
.btn2 {
    width:40px;
    background-color: #ebf6f9;
    border: none;
    color:black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px;
    cursor: pointer;
    border-radius:5px;
 }
.btn2:hover {
	background-color: #aedae8;
	font-weight:bold;
    color:black;
} 
